.class_1 {
    background-image: url('../blocks/b-images-1/b-images__1.png');
}

.class_2 {
    background-image: url('../blocks/b-images-1/b-images__2.png');
}

.class_3 {
    background-image: url('../blocks/b-images-2/b-images__1.jpg');
}

.class_4 {
    background-image: url('../blocks/b-images-2/b-images__2.gif');
}
